#carpetas a ignorar en android studio
AidlFile/
AidlFolder/
AndroidAutoMediaService/
AndroidAutoMessagingService/
AndroidManifest/
AppActionsResourceFile/
AppWidget/
AssetsFolder/
BlankFragment/
BroadcastReceiver/
common/
ContentProvider/
CustomView/
Daydream/
FontFolder/
IntentService/
JavaFolder/
JniFolder/
LayoutResourceFile/
ListFragment/
ModalBottomSheet/
Notification/
PlusOneFragment/
RawFolder/
ResFolder/
ResourcesFolder/
RsFolder/
Service/
SliceProvider/
ValueResourceFile/
ViewModelFragment/
WatchFaceService/
XmlFolder/
AutomotiveMediaService/